@import "./styles/sm-screen.css";
@import "./styles/tab-screen.css";
@import "./styles/pc-screen.css";
@import "./styles/desktop-screen.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
:root{
    --primary: #990000;
    --secondary: #CE1B28; 
    --white: #ffffff;
    --black: #000000;
    --gray: #abb8c3;
    --pink: #f78da7;
    --red: #cf2e2e;
    --blue: #0693e3;
    --orange: #ff6900;
    --amber: #fcb900;
    --lightGreen: #7bdcb5;
    --green: #00d084;
    --cyan-blue: #8ed1fc;
    --purple: #9b51e0;
}
